.Rooms {
  padding: 100px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  max-width: 72%;
}

.head-text {
  padding: 20px;
  text-align: center;
}

.room-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}
